<div class="board-list-wrapper">
  <div  class="list-hearder-wrapper">
    <div class="name-plus">
      <div class="list">
        <h1 class="board-name">Boards List</h1>
      </div>
      <div class="plus-button">
        <button (click)="openNewBoardFlow($event)" class="plus"><b>+</b></button>
      </div>
    </div>

    <div class="board-wrapper">
      <div *ngFor="let board of boards(); trackBy: trackBoard">
        <a class="board" [routerLink]="['/boards', board.id]">
          <mat-card class="matcard">
            <div class="board-inner">
              <div class="board-header">
                  <mat-card-title>
                    {{ board.name }}
                  </mat-card-title> 
              </div>
              <div>
                <button class="edit-del-btn" mat-button [matMenuTriggerFor]="menu">
                  ☰
                </button>
              </div>
            </div>
            <mat-menu #menu="matMenu">
                <button (click)="openNewBoardFlow($event, board)" mat-button>Edit</button>
                <button (click)="deleteBoard($event, board)" mat-button>Delete</button>
            </mat-menu>
          </mat-card>
        </a>
      </div>
    </div>
  </div>




